In [18]:
from sklearn import datasets
import pandas as pd
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit
from sklearn.datasets import make_regression, make_classification
import numpy as np

seed = 23
n_samples, n_features = 10000, 10
rng = np.random.RandomState(seed)
iris = datasets.load_iris()

In [6]:
iris_ = pd.DataFrame(iris.data, columns=iris.feature_names)

In [7]:
iris_

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [8]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [9]:
iris_["target"] = iris.target

In [10]:
iris_

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [16]:
rnd_train_iris, rnd_test_iris = train_test_split(iris_, test_size=1/3, random_state=seed)

In [19]:
split = StratifiedShuffleSplit(n_splits=1, test_size=1/3, random_state=seed)

In [20]:
for train_index, test_index in split.split(iris_, iris_.target):
    strat_train_iris = iris_.loc[train_index]
    strat_test_iris = iris_.loc[test_index]

In [27]:
strat_train_iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,100.000000,100.000000,100.00000,100.000000,100.000000
mean,5.844000,3.047000,3.74100,1.183000,1.000000
std,0.806829,0.451586,1.74287,0.753048,0.816497
min,4.300000,2.200000,1.00000,0.100000,0.000000
25%,5.200000,2.700000,1.50000,0.275000,0.000000
50%,5.800000,3.000000,4.40000,1.300000,1.000000
75%,6.400000,3.300000,5.10000,1.800000,2.000000
max,7.700000,4.400000,6.90000,2.500000,2.000000

In [26]:
strat_test_iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,50.000000,50.000000,50.000000,50.000000,50.000000
mean,5.842000,3.078000,3.792000,1.232000,1.000000
std,0.877401,0.406222,1.826767,0.786996,0.832993
min,4.600000,2.000000,1.300000,0.100000,0.000000
25%,5.025000,2.825000,1.600000,0.400000,0.000000
50%,5.600000,3.000000,4.200000,1.300000,1.000000
75%,6.500000,3.400000,5.400000,1.800000,2.000000
max,7.900000,3.900000,6.600000,2.500000,2.000000